<form class="form-horizontal" name="siteForm" role="form" ng-submit="submit(siteForm.$valid)" novalidate="novalidate">
	<div class="row">
		<div class="col-sm-8">
			<div class="panel panel-default text-info">
				<div class="panel-heading">
					<h3 class="panel-title">Choose a payment method</h3>
				</div>
				<div class="panel-body">
                
         <div class="row">
            <div class="form-group">
              <label for="inputCardType" class="col-sm-3 control-label">Card Type</label>
              <div class="col-sm-7">
                <select id="inputCardType" name="select" class="form-control">
                  <option>Select Card Type</option>
                   <option>Visa</option>
                   <option>Amax </option>
                   <option>American Express</option>
                   <option>Discover</option>
                   <option>Master Credit Card</option>
                   <option>New Card</option>
                </select>
              </div>
            </div>
          </div>
                
					<div class="row">
						<div class="form-group">
							<label for="inputCardNumber" class="col-sm-3 control-label">Card Number</label>

							<div class="col-sm-7">
								<input type="text" class="form-control" id="inputCardNumber" placeholder="Enter Card Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="inputNameonCard" class="col-sm-3 control-label">Name on Card</label>

							<div class="col-sm-7">
								<input type="text" class="form-control" id="inputNameonCard" placeholder="Enter Name on Card">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="inputCVVNumber" class="col-sm-3 control-label">CVV Number</label>

							<div class="col-sm-7">
								<input type="text" class="form-control" id="inputCVVNumber" placeholder="Enter CVV Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="inputMonth" class="col-sm-3 control-label">Expiry Date</label>

							<div class="col-sm-3">
								<select id="inputMonth" name="select" class="form-control">
									<option>Month</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select id="inputYear" name="select" class="form-control">
									<option>Year</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-10">
								<button type="submit" class="btn btn-primary">Pay Now</button>
								<button type="cancel" class="btn btn-danger" ng-click="reset()">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>