<form class="form-horizontal" name="siteForm" role="form" ng-submit="submit(siteForm.$valid)" novalidate="novalidate">
	<div class="row">
		<div class="col-sm-8">
			<div class="panel panel-default text-info">
				<div class="panel-heading">
					<h3 class="panel-title">Choose a payment method</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Card Number</label>

							<div class="col-sm-7">
								<input type="text" class="form-control" id="inputEmail3" placeholder="Enter Card Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="inputEmail4" class="col-sm-3 control-label">Name on Card</label>

							<div class="col-sm-7">
								<input type="text" class="form-control" id="inputEmail4" placeholder="Enter Name on Card">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="inputEmail5" class="col-sm-3 control-label">CVV Number</label>

							<div class="col-sm-7">
								<input type="text" class="form-control" id="inputEmail5" placeholder="Enter CVV Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="inputEmail22" class="col-sm-3 control-label">Expiry Date</label>

							<div class="col-sm-3">
								<select id="inputEmail22" name="select" class="form-control">
									<option>Month</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select id="inputEmail22" name="select" class="form-control">
									<option>Year</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-10">
								<button type="submit" class="btn btn-primary">Pay Now</button>
								<button type="cancel" class="btn btn-danger" ng-click="reset()">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>