<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Facebook Album - My Travel</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
					</div>
					<div class="col-sm-3">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
					</div>
					<div class="col-sm-3">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
					</div>
					<div class="col-sm-3">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
						<img class="img-thumbnail" src="http://placehold.it/200x200" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Instagram Pictures</h3>
			</div>
			<div class="panel-body">
				<img class="img-thumbnail" src="http://placehold.it/400x200" alt="">
				<img class="img-thumbnail" src="http://placehold.it/400x200" alt="">
			</div>
		</div>
	</div>
    <div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Facebook Pictures</h3>
			</div>
			<div class="panel-body">
				<img class="img-thumbnail" src="http://placehold.it/400x235" alt="">
			</div>
		</div>
	</div>
</div>