<div class="row">
  <div class="full col-sm-12">
    <!-- content -->
    <!-- main col left -->
    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a>
          <h4>Some content here</h4>
        </div>
        <div class="panel-body">
          <div class="list-group"> <a href="#" class="list-group-item">Recent Posts</a> <a href="#" class="list-group-item">Recent Posts</a> <a href="#" class="list-group-item">Recent Posts</a> </div>
        </div>
      </div>
    </div>
    <!-- main col right -->
    <div class="col-sm-7">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Sample Post1</h4>
        </div>
        <div class="panel-body">
          <p><a href="#">This is my first sample post</a></p>
          <p><img class="img-thumbnail" src="http://placehold.it/600x200" alt=""></p>
          <div class="clearfix"></div>
          <hr />
          Post description here.
          <hr />
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default">+1</button>
              <button class="btn btn-default">Comment</button>
            </div>
            <input type="text" class="form-control" placeholder="Add a comment..">
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Sample Post2</h4>
        </div>
        <div class="panel-body">
          <p><a href="#">This is my second sample post</a></p>
          <p><img class="img-thumbnail" src="http://placehold.it/600x200" alt=""></p>
          <div class="clearfix"></div>
          <hr>
          Post description here.
          <hr>
          <form>
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default">+1</button>
                <button class="btn btn-default">Comment</button>
              </div>
              <input type="text" class="form-control" placeholder="Add a comment..">
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Sample Post3</h4>
        </div>
        <div class="panel-body">
          <p><a href="#">This is my third sample post</a></p>
          <p><img class="img-thumbnail" src="http://placehold.it/600x200" alt=""></p>
          <div class="clearfix"></div>
          <hr>
          Post description here
          <hr />
          <form>
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default">+1</button>
                <button class="btn btn-default">Comment</button>
              </div>
              <input type="text" class="form-control" placeholder="Add a comment..">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /col-9 -->
</div>
<!--/row-->
