<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><a href="#" class="pull-right">View all</a>
        <h4>Search</h4>
      </div>
      <div class="panel-body">
        <div class="list-group"> <a href="#" class="list-group-item">Popular Videos</a> <a href="#" class="list-group-item">Recently Posted</a> <a href="#" class="list-group-item">All Videos</a> </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Most Popular</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <iframe width="200" height="200" src="http://www.youtube.com/embed/hkYzuHMcP64"></iframe>
          </div>
          <div class="col-sm-4">
            <iframe width="200" height="200" src="http://www.youtube.com/embed/hkYzuHMcP64"></iframe>
          </div>
          <div class="col-sm-4">
            <iframe width="200" height="200" src="http://www.youtube.com/embed/hkYzuHMcP64"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recently Posted</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <iframe width="200" height="200" src="http://www.youtube.com/embed/hkYzuHMcP64"></iframe>
          </div>
          <div class="col-sm-4">
            <iframe width="200" height="200" src="http://www.youtube.com/embed/hkYzuHMcP64"></iframe>
          </div>
          <div class="col-sm-4">
            <iframe width="200" height="200" src="http://www.youtube.com/embed/hkYzuHMcP64"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
