<!-- row -->
<div class="row">
  <!-- main col left -->
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-thumbnail"></div>
     	 <div class="panel-body">
            <p class="lead">Jitendra</p>
            <p>45 Followers, 3 Posts</p>
       	    <p> <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> </p>
      	</div>
    </div>
    <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Some content here</h4>
          </div>
          <div class="panel-body"> <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" class="img-circle pull-right"> <a href="#">Heading</a>
            <div class="clearfix"></div>
            Description </div>
         </div>
   </div>
  
  <!-- main col right -->
  <div class="col-sm-7">
    <div class="panel panel-info">
    	<div class="panel-body"> <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" class="img-circle pull-left"> <a href="#">&nbsp;Jitendra(2 minutes ago)</a>
       	 <div class="clearfix"></div>
       	 <hr>
        	<p>Description.</p>
        <hr>
       	 <div class="input-group">
          	<div class="input-group-btn">
         		 <button class="btn btn-default">+1</div>
 		         <input type="text" class="form-control" placeholder="Add a comment..">
        	</div>
     	 </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-body"> <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" class="img-circle pull-left"> <a href="#">&nbsp;Jitendra(2 minutes ago)</a>
        <div class="clearfix"></div>
        <hr>
        <p>Description.</p>
        <hr>
        <div class="input-group">
          <div class="input-group-btn">
          <button class="btn btn-default">+1</div>
          <input type="text" class="form-control" placeholder="Add a comment..">
        </div>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-body"> <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" class="img-circle pull-left"> <a href="#">&nbsp;Jitendra(2 minutes ago)</a>
        <div class="clearfix"></div>
        <hr>
        <p>Description.</p>
        <hr>
        <div class="input-group">
          <div class="input-group-btn">
          <button class="btn btn-default">+1</div>
          <input type="text" class="form-control" placeholder="Add a comment..">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--/row-->
